table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
  
table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #a0933b;
}
  
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}